

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.content {
  font-family: "Lucida Grande";
}

header {
  height: 65px;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 10;
}


/* navbar */

.nav-left {
  margin-left: 50px;
}

.nav-left a {
  color: #ccc;
  padding: 20px;
  font-size: 25px;
}

.nav-left a:hover {
  background-color: red;
  color: white;
}

.carousel-slide {
  width: 100%;
  height: 90%;
}



/* Profile */
.profile {
  background-color: #212121;
  color: white;
  max-width: 100%;
  height: 400px;
  padding: 21px;
  margin: auto;
}


.title-profile {
  padding: 20px 20px;
  color: whitesmoke;
  font-size: 30px;
  opacity: 0.7;
}


.title {
  font-size: 25px;
  line-height: 2;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* portfolio */

.portfolio {
  background-color: #e2dedf;
  text-align: center;
}

.portfolio-title {
  padding: 20px 20px;
  color: black;
  font-size: 30px;
  opacity: 0.7;
}

.portfolio-link a {
  text-align: center;
  color: black;
  font-size: 17px;
  opacity: 0.7;
  border: 2px solid black;
  padding: 5px 25px;
  margin: 3px 3px;
  border-radius: 5px;
}



.portfolio-link a:hover {
  border: rgba(240, 10, 10, 0.5) solid 2px;
  opacity: 0.9;
  color: black;
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.portfolio-image img {
  flex: auto;
  width: 50%;
  height: 200px;
  opacity: 0.8;
  filter: grayscale(50%);
}

.portfolio-image img:hover {
  opacity: 1;
  filter: grayscale(0%)
}


/* contact */
.contact {
  background-color: #212121;
  color: white;
  max-width: 100%;
  height: 350px;
  padding: 25px;
  margin-bottom: 10px;
}

.contact-judul {
  padding-bottom: 20;
  color:whitesmoke;
  font-size: 30px;
  opacity: 0.7;
}

.row {
  justify-content: center;
  padding-top: 20px;
}

.title-contact {
  padding-top: 10px;
}

.contact-button {
  text-align: center;
  padding-top: 20px;
}